[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
aiohttp = "*"
telegram = "*"
anthropic = "*"
python-telegram-bot = "*"
claude-agent-sdk = "*"
pywikibot = "*"

[dev-packages]

[requires]
python_version = "3.12"
